@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Quicksand, sans-serif;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
    padding: 0 1em;
}

nav > h1 {
    font-family: 'Lilita One', cursive, serif;
    margin-right: auto;
}

nav .links a {
    color: black;
    text-decoration: none;
    padding: 0 .5em;
}

header {
    display: flex;
    align-items: center;
    min-height: 90vh;
    width: 75vw;
    margin: 0 auto;
}

header h2 {
    font-size: 4em;
    margin-bottom: .1rem;
}

@keyframes boing {
    from {
        transform: none;
    }
    25% {
        transform: scaleY(1.2);
    }
    to {
        transform: translateY(2em);
    }
}

header button {
    background-color: #FD7C3C;
    color: white;
    border: none;
    padding: .5em 3em;
    border-radius: 24px;
    animation: 1s boing infinite alternate;
}

section {
    margin: 0 1em;
    text-align: center;
    width: 75vw;
    margin: 0 auto;
}

div.img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
}

div.img-gallery img {
    object-fit: contain;
    min-height: 200px;
    max-width: 200px;
}

div.img-gallery div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.bold {
    font-weight: bold;
}

div.img-gallery p {
    text-align: center;
    margin-bottom: 0;
    margin-top: .25em;
}